<nav class="navbar navbar=deflout" role="navigation">
    <div class="container-fluid">
       
            <a class="navbar-brand" >
                MOLDOVA
            </a>
       
        <ul class="nav navbar-nav">
            <li><a href="/618426">Chisinau</a></li>
            <li><a href="/617638">Orhei</a></li>
            <li><a href="/618605">Balti</a></li>
            <li><a href="/617180">Ungheni</a></li>
            <li><a href="/617254">Telenesti</a></li>
        </ul>
    </div>
</nav>